<div class = "log-form">
    <h2>Login to your account </h2>
    
    <form method = "post" action="/login">
        Username:
        <input type = "text" name = "name">
        Password:
        <input type = "password" name = "password">
        <button type = "submit"> Login </button>
    </form>
</div>