<div class = "container">
    <h1>Register</h1>
    <small>This is a register page</small>
    <form method = "post" action = "/register">
        Username
        <input type = "text" name = "username">
        Password
        <input type = "password" name = "password">
        Password confirm
        <input type = "password" name = "passwordconf">
        <button type = "submit"> Register </button>
    </form>
</div>